* {
    margin: 0;
    padding: 0;
}

.header,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    aspect-ratio: 1;
    width: 800px;
    height: 800px;
    background-color: rgba(99, 94, 94, 0.243);
    border: 5px solid black;
}

.count {
    text-align: center;
}

.row {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

#btn {
    padding: 8px;
    text-align: center;
}